body {
  font-size: 16;
  font-weight: 700;
  padding-top: 70px;
}
.jumbotron {
  background-color: #4393B9;
  color: #ffffff;
  padding-top: 75px;
}
#club-features li {
  padding: 25px;
}
#club-features li:hover {
  background-color: #4393B9;
  color: #ffffff;
}
#login-btn:hover, #logout-btn:hover, #home-btn:hover, #edit-btn:hover, .addBtn:hover, .requestBtn:hover {
  color: #ffffff!important;
  /*font-weight: 900;*/
  text-decoration: none;
  background-color: #000080;
}
#login-btn, #logout-btn, #home-btn, #edit-btn, .addBtn, .requestBtn {
  min-width:100px;
  background-color: #4393B9;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

.addedButton {
  min-width:100px;
  background-color: #008000;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

.addedButton:hover {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
  background-color: #004E00;
}
.removeBtn{
  color: #ffffff;
  background-color: #d9534f;
}
.removeBtn:hover{
  background-color:#c9302;
  color: #ffffff!important;
  text-decoration: none;
}

.github-profile .menu:hover {
  color: #FFA000;
}
.github-profile .menu:active {
  color: #FF630D;
}

h3.bookTitle {font-size:16px; font-weight:800;min-height:50px;}

@media only screen and (min-width: 768px) {
   
        img.img-book {height: 160px; width: 128px;}
    
}

.bookItem {padding-top:15px; padding-bottom:15px; border:1px solid #000000;}
.bookItem:hover{background-color: #4393B9; color:#ffffff;}

#profileBooks {padding-top:20px;}