body {font-size: 16; font-weight:700;}
.jumbotron{background-color: #4393B9; color: #ffffff; padding-top:75px;}

#club-features li{padding:25px;}
#club-features li:hover {background-color: #4393B9; color: #ffffff;}